
 <% if @user.errors.any? %>
 <div class="alert alert-danger" role="alert">
   <p> Sign Up Failed: </p>
   <ul>
     <% @user.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
       <% end %>
     </ul>
   </div>
<% end %>


<center><h1>Log In</h1></center>
<hr/>
<div class='container'>
<div class='row'>
<div class='col-sm-5'>
<%= form_tag login_path do %>
  <label>Name:&nbsp;&nbsp;&nbsp;&nbsp </label> <input type="name" name="user[name]" id="name"><br><br/>
  <label>Password:&nbsp;</label> <input type="password" name="user[password]" id="password"><br><br/>
  <input type="submit" value="Log In">
<% end %>
</div>



<div class="col-sm-6">
<a href="/auth/facebook">
<h3> <i class="fa fa-facebook"></i>  Login with Facebook </h3>
        </a>
 </div>       
</div>
</div> 