<% @trail.comments.each do |comment| %>
   
  <div class="well">
   <strong><%= comment.user.name %></strong> says: <br></br>
     <p><%= comment.body %></p>
    <p class="text-muted">Added  on
    <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %></p>
   
</div>
<% end %>