<h1>All Parks</h1>

<% @parks.each do |park| %>

<h2>Park Name: <%= link_to park.name, park_path(park), class:'name' %></h2><br><br>
<p>Posted by: <%= link_to park.user.name, user_path(park.user) %> </p>


<% end %>




<%= link_to "Logout", logout_path %>