<h1>Add a new park</h1>

<%= render 'form' %>

<% if @park.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <p> Error: </p>
          <ul>
            <% @park.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
       <% end %>