<center>
<% if current_user %>
Welcome, <%= current_user.name %>!
  
<% else %>
  <%= link_to('Log in with Facebook!', '/auth/facebook') %>
<% end %>
<h2> With Parks-book is extremely easy to keep your hiking trails and parks updated!</h2>
    </div>
    </center> 
    <div>
    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
                <img src="https://cdn.pixabay.com/photo/2016/09/04/00/13/dog-1643025_960_720.jpg" alt="hiking dog" style="width:100%">
            <div class="caption">
              <p>Hiking with the bff!</p>
            </div>
          </a>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="thumbnail">
  
            <img src="https://cdn.pixabay.com/photo/2018/05/20/16/09/dolomites-3416134_960_720.jpg" alt="dolomite-mtns-italy" style="width:100%">
            <div class="caption">
              <p>Wanderlust.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>