<center>

<h2> With Parks-book is extremely easy to keep your hiking trails and parks updated!</h2>
    </div>
    </center> 
    <div>
    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
                <img src="./images/index-1.jpg" alt="landscape" style="width:100%">
            <div class="caption">
              <p>Breathtaking views..</p>
            </div>
          </a>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="thumbnail">
  
            <img src="./images/index-2.jpg" alt="dog hiker" style="width:100%">
            <div class="caption">
              <p>Hiking with four-legged friends!</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>