<center>
<h1>All Trails</h1>

<% @trails.each do |trail| %>

<h2>Trail Name: <%= link_to trail.name, trail_path(trail), class:'name' %></h2><br><br>
<p>Posted by: <%= link_to trail.user.name, user_path(trail.user) %></p>


<% end %>

