
<div class="trails-index">
<div class='wrapper'>

<h1>All Trails</h1>
<% @trails.each do |trail| %>

<h2>Trail Name: <%= link_to trail.name, trail_path(trail), class:'name' %></h2><br><br>
<h3>Posted by: <%= link_to trail.user.name, user_path(trail.user) %></h3>


<% end %>

</div>
</div>
<br></br>

