<h2>Trails by distance:</h2><br><br>
<div class = "container">
<% @trails.order("created_at asc").each do |trail| %>

    <div class="row row-flex">
      <div class="col-md-6"><br></br>
        <%= image_tag trail.image.url(:medium) if trail.image? %><br><br>
        
      </div>

      
      

      <div class="col-md-4">
      
        <br />
        <h4> User: <%= link_to trail.park.user.name, user_path(trail.park.user) %> </h4>
        <h3>Trail:&nbsp;&nbsp;&nbsp;<%= link_to trail.name, trail_path(trail), class:'name' %></h3>
        <h3 >Distance:&nbsp;&nbsp;&nbsp;<%= trail.distance %> miles</h3>
      </div>
    
  </div>
  <hr />
<% end %>
</div>