<h2>Trails by difficulty:</h2><br><br>
<div class = "container">
<% @trails.order("created_at asc").each do |trail| %>
  <div class="row row-flex">
      <div class="col-md-6"><br></br>
        <%= image_tag trail.image.url(:medium) if trail.image? %><br><br>
        
      </div>

      
      

      <div class="col-md-4">
      <h4 class='user-link'>User: <%= link_to trail.user.name, user_path(trail.user) %></h4>
        <h5>Trail Name: <%= link_to trail.name, trail_path(trail), class:'name' %></h5><br><br>
        <h5>Difficulty:&nbsp;&nbsp;&nbsp;<%= trail.difficulty %></h5>
      </div>
    
  </div>
<% end %>
</div>