<h4>Trails by difficulty:</h4><br><br>

<% @trails.order("created_at asc").each do |trail| %>
  <div class='trail-card'>
    <div class="row row-flex">
      <div class="col-md-4 col-sm-6 col-xs-12-A">
        <%= image_tag trail.image.url, class:'img-fluid' %><br><br>
        <small class='user-link'>User: <%= link_to trail.user.name, user_path(trail.user) %></small>
      </div>

      <div class="box-div">
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12-B">
        <h6><%= link_to trail.name, trail_path(trail), class:'name' %></h6><br><br>
        <p class="card-1">Difficulty:&nbsp;&nbsp;&nbsp;<%= trail.difficulty %> / 5</p>
      </div>
    </div>
  </div>
<% end %>