// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





/* --- Welcome Page Styles --- */
body {
    color: #000;
    background-color: azure;
    font-family: 'Ubuntu', sans-serif; 
    line-height: 18px;
}
/* -----captions-----*/
.caption {
    font-family: 'Coming Soon', cursive;
}